Repository Sharkofwitch/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --no-warn-ignored",
    "prettier --write"
  ],
  "scripts/**/*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "*.{json,md,html,css}": [
    "prettier --write"
  ]
}

Fix JSX parsing errors and remove deprecated .eslintignore
  src/app/admin/login/page.tsx
  src/app/admin/page.tsx
  src/app/api/photos/route.ts
  src/app/gallery/page.tsx
  src/components/GalleryGrid.tsx
  src/lib/auth-options.ts
  src/middleware.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Refactor photo handling and API integration; enhance error logging and support for multiple data formats
  scripts/test-api.js
  scripts/test-photo-loading.ts
  src/app/admin/page.tsx
  src/app/api/photos/[filename]/route.ts
  src/app/api/photos/route.ts
  src/app/page.tsx
  src/components/GalleryGrid.tsx
  src/lib/nextcloud.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Fix photo upload functionality and fix ESLint errors
  package-lock.json
  package.json
  scripts/interactive-login-upload.js
  scripts/test-api-upload.js
  scripts/test-upload-native.js
  scripts/test-upload.js
  src/app/admin/page.tsx
  src/app/api/photos/route.ts
  src/app/api/test-upload/route.ts
  src/app/api/upload-debug/route.ts
  src/lib/nextcloud-debug.ts
  src/lib/nextcloud.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Enhance Vercel upload functionality: add troubleshooting documentation, optimize upload process with retry logic, and improve error handling for Nextcloud integration
  VERCEL_UPLOAD_TROUBLESHOOTING.md
  scripts/test-vercel-upload.sh
  scripts/vercel-upload-diagnostic.js
  src/app/api/photos/route.ts
  src/app/api/test-upload/route.ts
  src/lib/nextcloud.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Enhance photo upload functionality: increase file size limit to 50MB, implement automatic image resizing for large uploads, and improve error handling in the upload process.
  VERCEL_UPLOAD_TROUBLESHOOTING.md
  src/app/api/photos/route.ts
  src/lib/image-processor.ts
  src/lib/nextcloud.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Fixed ESLint issues and completed Vercel upload optimization
  VERCEL_UPLOAD_TROUBLESHOOTING.md
  package-lock.json
  package.json
  scripts/create-large-test-image.js
  scripts/create-test-image.js
  scripts/large-test-image.jpg
  scripts/processed-test-image.jpg
  scripts/test-image-processing.js
  scripts/test-image.jpg
  scripts/test-photo-uploads.sh
  scripts/test-vercel-upload-endpoint.js
  scripts/vercel-upload-diagnostic.js
  scripts/verify-upload-config.js
  src/app/admin/page.tsx
  src/app/api/photos/route.ts
  src/app/api/vercel-upload/route.ts
  vercel.json
Due: eslint --fix --no-warn-ignored, prettier --write

Enhance UI components: improve layout responsiveness, add safe area padding, and refine styles for better accessibility and user experience across various screens.
  src/app/about/page.tsx
  src/app/admin/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/AnimatedImageGrid.tsx
  src/components/Footer.tsx
  src/components/GalleryGrid.tsx
  src/components/Header.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Universal Image Loading Solution: Fixed image loading issues with timestamp-prefixed files and path inconsistencies. Added comprehensive testing and documentation.
  PORTFOLIO_IMAGE_SYSTEM.md
  scripts/IMAGE_LOADING_SOLUTION.md
  scripts/IMAGE_LOADING_SOLUTION_FINAL.md
  scripts/UNIVERSAL_IMAGE_SOLUTION.md
  scripts/analyze-photos.js
  scripts/fix-db-image-paths.js
  scripts/refresh-database.js
  scripts/refresh-database.ts
  scripts/verify-image-loading.js
  scripts/verify-universal-solution.js
  src/app/api/photos/[filename]/route.ts
  src/lib/nextcloud.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat: add nodemailer dependency and enhance contact page UI with improved button styles and floating mail icon
  package-lock.json
  package.json
  src/app/about/page.tsx
  src/app/contact/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat: add vercel build command and environment variable verification script
  package.json
  scripts/verify-vercel-env.js
  vercel.json
Due: prettier --write

feat: update build script to accept data loss and add User model to Prisma schema
  package.json
  prisma/schema.prisma
Due: prettier --write

feat: enhance social data fetching with fallback values and improve error handling
  src/app/about/page.tsx
  src/app/api/social/[photoId]/route.ts
  src/components/SocialInteractions.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat: enhance comment functionality by adding username support and browser fingerprinting for likes
  src/app/api/social/comment/route.ts
  src/components/SocialInteractions.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat: enhance UI effects and animations across components for improved user experience
  README.md
  VERCEL_UPLOAD_TROUBLESHOOTING.md
  src/app/globals.css
  src/components/AnimatedImageGrid.tsx
  src/components/GalleryGrid.tsx
  tailwind.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat: refine hover effects and animations for improved user interaction and performance
  src/app/globals.css
  src/components/AnimatedImageGrid.tsx
  src/components/GalleryGrid.tsx
  tailwind.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat: simplify photo selection and navigation in GalleryGrid component
  src/components/GalleryGrid.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat: refine image-loading logic, clean up components, and optimize animations
  src/components/AnimatedImageGrid.tsx
  src/components/ErrorBoundary.tsx
  src/components/GalleryGrid.tsx
  src/components/LoadingAnimations.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove database connection requirement from CI build script
  package.json
Due: prettier --write

Fix filter undefined property error by adding paths-ignore
  .github/workflows/ci.yml
Due: none

Fix ErrorBoundary: remove lucide-react and add null checks
  src/components/ErrorBoundary.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Fix AnimatedImageGrid: restore click-to-enlarge functionality
  src/components/AnimatedImageGrid.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Transform ZoomImage into a proper modal lightbox component
  src/components/ZoomImage.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Fix AnimatedImageGrid: make images prop optional and provide default value
  src/components/AnimatedImageGrid.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Potential Rebranching
  package-lock.json
  package.json
  src/components/AnimatedImageGrid.tsx
  src/components/ErrorBoundary.tsx
  src/components/GalleryGrid.tsx
  src/components/LoadingAnimations.tsx
  src/components/ZoomImage.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write
